.card {
  width: 700px;
  height: 530px;
 
}

.shadow {
  box-shadow: 0 0.5rem 1rem #a7a7a7;
}

/* section 1 */
.section1 {
  background-color: white;
  border-radius: 15px 15px 0px 0px;
}
/* section 2 */
.section2 {
  color: white;
  background-color: var(--cyan);
  border-radius: 0px 0px 0px 15px;
}
/* section 3 */
.section3 {
  color: white;
  background-color: var(--cyan);
  opacity: 0.8;
  border-radius: 0px 0px 15px 0px;
}

.grid {
  height: 540px;
  border-radius: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.section1 {
  grid-area: 1 / 1 / 3 / 3;
  padding: 26px 50px 0px 50px;
  height: 217px;
}
.section2 {
  grid-area: 3 / 1 / 6 / 2;
  padding: 27px 50px 40px 50px;
  height: 230px;
}
.section3 {
  grid-area: 3 / 2 / 6 / 3;
  padding: 27px 50px 40px 50px;
  height: 230px;
}

/* Contenido */

.section1 > .title {
  color: var(--cyan);
  font-size: 26px;
}
.section1 > .subtitle {
  color: var(--bright-yellow);
  font-size: 20px;
  margin-top: 26px;
  margin-bottom: 16px;
}

.section1 > .info {
  font-size: 17px;
  line-height: 26px;
  color: var(--grayish-blue);
}

.monthly {
  font-size: 20px;
}
.number {
  align-content: center;
  align-items: center;
  display: flex;
  gap: 15px;
  font-size: 33px;
  margin-bottom: 10px;
}
.for {
  font-size: 17px;
  font-weight: 400;
}
.offer {
  font-size: 16.8px;
  margin-bottom: 33px;
}

.sign {
  background-color: var(--bright-yellow);
  width: 100%;
  padding: 16px;
  border-radius: 5px;
  border: 0px;
  color: white;
  box-shadow: 0 0.5rem 1rem #33333330;
  font-size: 17px;
  font-weight: 700;
}

.section3 > .title {
  font-size: 20px;
  margin-bottom: 1.3em;
}

.section3 > .info {
  font-size: 15.5px;
  line-height: 22px;
  font-weight: 400;
}

@media (min-width: 320px) and (max-width: 699px) {
  .card {
    width: 350px;
    height: 100%;
  }
  #main{
    margin-top: 30px;
    margin-bottom: 70px;
    position: relative;
  }

  .grid {
    width: 350px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .section1 {
    grid-area: 1 / 1 / 2 / 2;
    border-radius: 5px 5px 0px 0px;
    height: 241px;
  }
  .section2 {
    grid-area: 2 / 1 / 3 / 2;
    border: 1px solid #26b0ad;
    border-radius: 0px 0px 0px 0px;
    height: 199px;
  }
  .section3 {
    grid-area: 3 / 1 / 4 / 2;
    border-radius: 0px 0px 5px 5px;
    height: 193px;
  }

  .section1,
  .section2,
  .section3 {
    padding: 25px;
  }

  /* Contenido */

  .section1 > .title {
    color: var(--cyan);
    font-size: 22px;
  }
  .section1 > .subtitle {
    color: var(--bright-yellow);
    font-size: 16px;
    margin-top: 26px;
    margin-bottom: 16px;
  }

  .section1 > .info {
    font-size: 15px;
    line-height: 29px;
    color: var(--grayish-blue);
  }

  .monthly {
    font-size: 20px;
    margin-top: 0px;
  }
  .offer {
    font-size: 16.8px;
    margin-bottom: 30px;
  }

  .section3 > .title {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0.8em;
  }

  .section3 > .info {
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;

  }
}
